body {
    background-image: url('heartbg.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container .preloader{
    animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes rotate {
    50%{
      transform: rotate(360deg);
    }
    100%{
      transform: rotate(720deg);
    }
  }
  .preloader span{
    position: absolute;
    display: block;
    height: 64px;
    width: 64px;
    background: #f80759;
    border: 1px solid #f80759;
    border-radius: 100%;
  }
  .preloader span:nth-child(1){
    transform: translate(-28px, -28px);
    animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes shape_1 {
    60%{
      transform: scale(0.4);
    }
  }
  .preloader span:nth-child(2){
    transform: translate(28px, -28px);
    animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes shape_2 {
    40%{
      transform: scale(0.4);
    }
  }
  .preloader span:nth-child(3){
    position: relative;
    border-radius: 0px;
    transform: scale(0.98) rotate(-45deg);
    animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes shape_3 {
    50%{
      border-radius: 100%;
      transform: scale(0.5) rotate(-45deg);
    }
    100%{
      transform: scale(0.98) rotate(-45deg);
    }
  }
  .shadow{
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 16px;
    width: 64px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    animation: shadow 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
  }
  @keyframes shadow {
    50%{
      transform: translateX(-50%) scale(0.5);
      border-color: #f2f2f2;
    }
  }

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
}

.box {
    
    --s: 850px;
    --_p: 0px;
    border-radius: 10px;
    padding: calc(.09 * var(--s)) calc(var(--s) / 2 - var(--_p));
    width: var(--s);
    aspect-ratio: 1;
    box-sizing: border-box;
    border-image: radial-gradient(#f80759 69%, #0000 70%) 84.5% / calc(var(--s) / 2) / 0 var(--_p);
    clip-path: polygon(
        calc(-41% - var(--_p)) 0,
        calc(50%  - var(--_p)) 91%,
        calc(50%  + var(--_p)) 91%,
        calc(141% + var(--_p)) 0
    );
    transition: .5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.box:hover {
    --_p: calc(var(--s) / 2);
}

.box .top-border {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    padding: 10px;
}

.box:hover .top-border {
    opacity: 1;
}

.top-border {
    height: max-content;
    background-color: #fe246d;
}

.box p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.box h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px; /* Reduce the size */
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 3px; /* Reduce the border width */
    border-radius: 25px; /* Adjust the border-radius */
    font-size: 15px; /* Reduce font size */
    cursor: pointer;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 2.5),
    border-color 400ms ease-in-out, background-color 400ms ease-in-out;
    word-spacing: -2px;
    margin: 0 auto; /* Center the button */
    position: relative; /* Ensure it stays within its container */
    padding-top: 10px;
    padding-bottom: 10px;
}

button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
}

button svg {
    margin-right: 6px; /* Adjust the spacing between icon and text */
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
}

.filled {
    position: absolute;
    opacity: 0;
    top: 10px;
    left: 12px;
}

button:hover .empty {
    opacity: 0;
}

button:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
}
